#root {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Inter', sans-serif;
}
/* .App{
  filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
} */
